.manage {
  margin-left: 432px;
  margin-top: 22px;
  h1 {
    color: rgb(69, 69, 69);
    font-family: Manrope;
    font-size: 28px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 43px;
  }
}
